.cardItem {
    border: 1px solid #000;
    height: 400px;
    width: 300px;
    padding: 6px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardItem .cardImg {
    border: 1px solid #000;
    height: 50%;
    display: flex;
    justify-content: center;
}

.cardItem .cardImg img {
    width: 100%;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    height: 35%;
    padding: 5px 0;
}

.cardDescription .title {
    font-size: 21px;
    margin: 6px 0;
    color: #000;
}

.cardDescription .cant {
    color: #000;
    font-size: 13px;
    margin: 6px 0;
}

.cardDescription .precio {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    color: #000;
}

.buttons {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons #addCart {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
}

.buttons #addCart img {
    transform: scale(0.8);
}
