.item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item-details {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #af7a4c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: black;
}